nav.navbar {
  //box-shadow: 0px -2px 7px 7px #d9d9d9 !important;
}

ul.navbar-nav.mr-auto li {
  border-right: 1px solid #d9d9d9;
}

ul.navbar-nav.mr-auto li:last-child {
  border-right: 1px solid transparent;
}

ul.navbar-nav.mr-auto li a {
}

ul.navbar-nav.mr-auto li i {
  font-size: 14px;
  position: relative;
  top: 4px;
  display: none;
}

.m-with {
  width: 200px;
}

.m-with-50 {
  width: 250px;
}

.navbar-expand-lg {
  flex-flow: column;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top-header {
  float: left;
  width: 100%;
  background-color: #0000a0;
  padding: 10px 2%;
}

.top-header ul {
  float: right;
  width: auto;
  margin: 0;
  padding: 0;
}

.top-header ul li {
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
}

.top-header ul li span {
  float: left;
  width: auto;
  margin: 0 5px;
  padding: 0;
  color: #ffffff;
}

.top-header ul li a {
  float: left;
  width: auto;
  margin: 0;
  padding: 0;
  color: #00d6b8;
  font-weight: bold;
}

.header-left {
  float: left;
  width: 30%;
  padding: 8px 0;
}

.header-right {
  float: right;
  width: auto;
}

.bottom-header {
  float: left;
  width: 100%;
  padding: 0px 2%;
  background: #fafafa;
  border-bottom: 1px solid #eaeaea;
}

.navbar-toggler {
  float: right;
}

.dropdown-menu {
  position: absolute;
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-radius: 0px;
  width: auto;
  left: 0px;
  right: 0;
  padding: 0;
  margin: 0;
}

.dropdown-item {
  font-size: 14px;
  padding: 10px 5px !important;
  border-bottom: 1px solid #eaeaea;
}

.dropdown-item:hover {
  background-color: #00d6b8;
  color: #000000;
}

.nav-link {
  padding: 1.5rem 0 !important;
  margin: 0 !important;
}
.nav-link a {
  color: #000000 !important;
  padding: 1.5rem;
}
.nav-link:hover {
  background-color: #00d6b8;
}

.ddm-last {
  left: -90%;
  width: 210px;
}

.nav-pad15 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
