.login-footer{
    float: left;
    width: 100%;
    background-color: #0000a0;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 2px #fff;
  }
  .login-footer-logo{
    float: left;
    width: auto;
    padding: 0;
    margin: 10px 2%;
  }
  .login-footer-logo img{
    width: 450px;
  }