<div class="page-card pb-4">
    <app-pagebreadcrumb></app-pagebreadcrumb>
    <h4 class="card-title">
      <b class="text-uppercase"></b>
      <input type="file" id="uploadexcel" (change)="readExcelData($event)" class="d-none" />
    </h4>

    <div class="card">
        <div class="card-body row">
          <div class="col-md-6">
            <button class="btn btn-dark">
                    Pending for approval <span class="badge badge-primary"></span>
            </button>
          </div>
          <div class="col-md-6">
            <ul class="nav float-right">
              <li class="nav-item">
                <a class="nav-link active" href="#">Approved</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rejected</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Changed</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  
    <div class="card mt-4">
      <div class="card-body">        
        <ng-container *ngIf="isDataAvailable">
            <table class="table">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox">
                    </th>
                    <th>Chain Name</th>
                    <th>FY Plan</th>
                    <th>JAN-21</th>
                    <th>FEB</th>
                    <th>MAR</th>
                    <th>APR</th>
                    <th>MAY</th>
                    <th>JUN</th>
                    <th>JUL</th>
                    <th>AUG</th>
                    <th>SEP</th>
                    <th>OCT</th>
                    <th>NOV</th>
                    <th>DEC</th>
                    <th>Reject/Change</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                      <tr>
                        <td>
                          <input type="checkbox">
                        </td>
                        <td>Telangana</td>
                        <td>None</td>
                        <td>23,453</td>
                        <td>45,893</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>45,753</td>
                        <td>23,993</td>
                        <td>23,473</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>55,553</td>
                        <td>NA</td>
                        <td>NA</td>
                      </tr>
                      <tr>
                        <td>
                          <input type="checkbox">
                        </td>
                        <td>Telangana</td>
                        <td>None</td>
                        <td>23,453</td>
                        <td>45,893</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>45,753</td>
                        <td>23,993</td>
                        <td>23,473</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>55,553</td>
                        <td>NA</td>
                        <td>NA</td>
                      </tr>
                      <tr>
                        <td>
                          <input type="checkbox">
                        </td>
                        <td>Telangana</td>
                        <td>None</td>
                        <td>23,453</td>
                        <td>45,893</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>45,753</td>
                        <td>23,993</td>
                        <td>23,473</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>65,553</td>
                        <td>55,553</td>
                        <td>55,553</td>
                        <td>NA</td>
                        <td>NA</td>
                      </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="17">
                      <div class="pt-4 d-block text-center">
                        <div class="d-inline">
                          <div class="mr-1 d-inline">
                            <button class="btn btn-success">Approve</button>
                          </div>
                          <div class="mr-1 ml-1  d-inline">
                            <button class="btn btn-danger">Reject</button>
                          </div>
                          <div class="ml-1 d-inline">
                            <button class="btn btn-warning">Change</button>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>                  
                </tfoot>
              </table>
        </ng-container>
        <ng-container *ngIf="!isDataAvailable">
          <div>
            Table is empty
          </div>
        </ng-container>         
      </div>
    </div>
  </div>
  