.ipopup {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 68, 68, 0.24);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9999999999;
    border: none !important;
  
    &__content {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 10px 12px;
      background-color: white;
      border-radius: 4px;
      transform: translate(-50%, -50%);
      animation: bubbleup-popup .2s ease-in-out;
    }
  
    &__header {
      font-size: 24px;
      letter-spacing: 2px;
      font-weight: 400;
      padding-left: 14px;
    }
  
    &__body {
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      padding: 18px;
      margin: 14px;
    }
  
    table {
      border-top: 1px solid #d9d9d9;
      width: 100%;
    }
  
    tfoot {
      border-top: 1px solid #d9d9d9;
    }
  }
  
  @keyframes bubbleup-popup {
    0% {
      opacity: 0;
      width: 70%;
    }
  
    100% {
      opacity: 1;
      width: 80%;
    }
  }
  