$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}

.heading-title {
  text-transform: uppercase;
  color: darkcyan;
  margin-top: 20%;
}

.t-50 {
  top: 50% !important;
}

.signup-card {
  display: block;
  margin-top: 3rem !important;
}

.signup-space {
  font-size: 24px;
  font-weight: bold;
  color: currentColor;
  text-decoration: underline;
}

.anc-signin {
  position: relative;
  float: right;
  top: 10px;
}

.anc-signin a {
  cursor: pointer;
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.dnone {
  display: none;
}

.cont {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.form {
  position: relative;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW, 0, 0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: normal;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    &.m--up {

      @include signUpActive {
        transform: translateX($imgW*2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: $btnH;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;

    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;

      &.m--in {
        transform: translateY($btnH*-2);

        @include signUpActive {
          transform: translateY(0);
        }
      }

      &.m--up {
        @include signUpActive {
          transform: translateY($btnH*2);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}


/*Login Styless*/
img {
  max-width: 100%;
}

.login-page{
  float: left;
  width: 100%;
  background-image: url('../../assets/images/patterns/5.png');
  background-size: 100%;
}
.header-bg{
  float: left;
  width: 100%;
  background-image: url('../../assets/images/header-bg.png');
  background-repeat: no-repeat;
  height: 70px;
}
.login-logo{
  float: left;
  width: auto;
  padding: 0;
  margin: 10px 0px 10px 50px;
}
.login-footer{
  float: left;
  width: 100%;
  background-color: #0000a0;
  padding: 15px 0;
  box-shadow: 0px 0px 10px 2px #fff;
}
.login-footer-logo{
  float: left;
  width: auto;
  padding: 0;
  margin: 10px 0px 10px 45px;
}
.login-footer-logo img{
  width: 450px;
}
.perfect-bg{
  float: left;
  width: 100%;
  text-align: center;
}
.perfect-logo{
  padding: 0;
  margin: 0;
}
.perfect-logo img{
  border-radius: 100px;
  width: 125px;
}
#signin{
  float: left;
  width: 100%;
  margin: 30px 0;
}
.btn-blue{
  background-color: #0000a0;
  border-color: #0000a0;
  color: #ffffff;
}
.logname{
  float: left;
  width: 100%;
  text-align: left;
  font-size: 14px;
  margin: 0 0 10px 0;
}