<div class="col-md-12 float-left h-100">
  <div class="float-left w-100">
    <div class="col-md-12 d-flex text-center justify-content-center">
      <div id="signin" class="col-md-5">
        <h1 class="w-100 text-center heading-title">
          Mars Perfect Store
        </h1>
        <div class="card p-4 mt-5">
          <form [formGroup]="UserData" (ngSubmit)="VerifiyUser()" class="mt-4">
            <div class="form-group w-100">
              <input class="form-control" placeholder="Username" name="Username" required formControlName="Username" />
            </div>

            <div class="form-group w-100">
              <input class="form-control" type="password" placeholder="Password" name="Password" required
                formControlName="Password" />
            </div>
            <button [disabled]="!UserData.valid" class="btn btn-danger w-100 mb-2" type="submit">
              Sign In
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
