.filter-cell {
  width: 100%;
}

.title {
  position: relative;
  top: 10px;
}

.action {
  text-align: right;
  flex-direction: row-reverse;
}

.soon-dv {
  text-align: center;
  padding: 10%;
  font-size: 30px;
  color: darkcyan;
  text-decoration: underline;
}
