<div class="d-flex text-center justify-content-center">
  <div class="col-md-12 p-0">
    <div class="card dashboard">
      <div class="card-body text-left">
        <h5 class="card-title">Card title</h5>

        <div class="col-md-12 mt-3 row mb-3">
          <div class="col-md-3">
            <div class="col-12 row">
              <div class="col-3 p-0 title">
                Region
              </div>
              <div class="col-9">
                <select name="region" class="form-control" [(ngModel)]="Region">
                  <option value="">All Region</option>
                  <option *ngFor="let c of MasterData.Region" [attr.value]="c.Name">{{
                    c.Name
                  }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-12 row">
              <div class="col-3 p-0 title">
                State
              </div>
              <div class="col-9 p-0">
                <select name="state" class="form-control" [(ngModel)]="State">
                  <option value="">All State</option>
                  <option *ngFor="let c of MasterData.State" [attr.value]="c.Name">{{
                    c.Name
                  }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-12 row">
              <div class="col-3 p-0 title">
                City
              </div>
              <div class="col-8 p-0">
                <select name="city" class="form-control" [(ngModel)]="City">
                  <option value="">All City</option>
                  <option *ngFor="let c of MasterData.City" [attr.value]="c.Name">{{
                    c.Name
                  }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="col-12 row">
              <div class="col-3 p-0 title">
                SO
              </div>
              <div class="col-9 p-0">
                <select name="so" class="form-control" [(ngModel)]="SO">
                  <option value="">All</option>
                  <option *ngFor="let item of MasterData.Supervisor" [value]="item.Gid">{{ item.Name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 d-flex mb-2 action">
          <button class="btn btn-primary">
            <i class="fa fa-filter"></i>
            Filter</button>
          <button class="btn btn-outline-info mr-2">
            <i class="fa fa-redo"></i>
            Clear</button>
        </div>

        <ngb-tabset [destroyOnHide]="false">
          <ngb-tab title="Availability">
            <ng-template ngbTabContent>
              <div class="chart-wrapper mt-4">
                <canvas baseChart width="400" height="140" [datasets]="lineChartData" [labels]="lineChartLabels"
                  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                  [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Perfect Store</ng-template>
            <ng-template ngbTabContent>
              <div class="chart-wrapper mt-4">
                <canvas baseChart width="400" height="140" [datasets]="lineChartData" [labels]="lineChartLabels"
                  [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                  [chartType]="lineChartType" [plugins]="lineChartPlugins" (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Checkout penetration">
            <ng-template ngbTabContent>
              <p>
                Sed commodo, leo at suscipit dictum, quam est porttitor sapien,
                eget sodales nibh elit id diam. Nulla facilisi. Donec egestas
                ligula vitae odio interdum aliquet. Duis lectus turpis, luctus
                eget tincidunt eu, congue et odio. Duis pharetra et nisl at
                faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat
                volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
                nisl enim, nec tristique ipsum euismod facilisis. Morbi ut
                bibendum est, eu tincidunt odio. Orci varius natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus. Mauris
                aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus
                nec tortor vel tellus pulvinar feugiat.
              </p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
