.tbl-header-card {
  width: 325px;
  padding: 10px;
  border: 1px solid #d9d9d9;
}

.tbl-header {
  float: right;
}

.tbl-header1-card {
  width: 550px !important;
  padding: 10px;
  border: 1px solid #d9d9d9;
}


.title-header {
  line-height: 30px;
}
