<div class="page-card pb-4">
  <app-pagebreadcrumb></app-pagebreadcrumb>
  <h4 class="card-title">
    <b>WORK EFFECTIVENESS</b>
  </h4>

  <div class="col-md-12 mt-3 filter mb-3">
    <div class="filter-cell date-cell">
      <div class="col-12 row">
        <div class="col-3 p-0 title-header">
          Filter
        </div>
        <div class="col-9 p-0">
          <div class="form-group">
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="d.toggle()"
                  type="button"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-cell">
      <div class="col-12 row">
        <div class="col-3 p-0 title-header">
          Region
        </div>
        <div class="col-9 p-0">
          <select name="region" class="form-control" [(ngModel)]="Region">
            <option value="">All Region</option>
            <option *ngFor="let c of MasterData.Region" [attr.value]="c.Name">{{
              c.Name
            }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="filter-cell">
      <div class="col-12 p-0 row">
        <div class="col-3 p-0  title-header">
          State
        </div>
        <div class="col-9 p-0">
          <select name="state" class="form-control" [(ngModel)]="State">
            <option value="">All State</option>
            <option *ngFor="let c of MasterData.State" [attr.value]="c.Name">{{
              c.Name
            }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="filter-cell">
      <div class="col-12 p-0 row">
        <div class="col-2 p-0 title-header">
          City
        </div>
        <div class="col-8 p-0">
          <select name="city" class="form-control" [(ngModel)]="City">
            <option value="">All City</option>
            <option *ngFor="let c of MasterData.City" [attr.value]="c.Name">{{
              c.Name
            }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="filter-cell">
      <div class="col-12 p-0 row">
        <div class="col-2 p-0 title-header">
          SO
        </div>
        <div class="col-8 p-0">
          <select name="so" class="form-control" [(ngModel)]="SO">
            <option value="">All</option>
            <option
              *ngFor="let item of MasterData.Supervisor"
              [value]="item.Gid"
              >{{ item.Name }}</option
            >
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 p-0 mt-2 mb-2">
    <button class="btn btn-outline-info" (click)="ResetResult()">Reset</button>
    <button class="ml-2 btn btn-primary" (click)="LoadFilteredResult()">
      Filter
    </button>
  </div>

  <div class="card">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Filter</th>
              <th colspan="2">{{ modalDate }}</th>
              <th colspan="2">MTD</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Attendance</td>
              <td>Call Compliance</td>
              <td>Attendance</td>
              <td>Call Compliance</td>
            </tr>
            <tr rowspan="2" *ngFor="let work of CalculatedDetail">
              <ng-container *ngIf="work.WorkType !== 'SO'">
                <td>
                  <h3>{{ work.TodayAttendancePercent }}%</h3>
                </td>
                <td>
                  <h3>{{ work.TodayCallCompliancePercent }}%</h3>
                </td>
                <td>
                  <h3>{{ work.MTDAttendancePercent }}%</h3>
                </td>
                <td>
                  <h3>{{ work.MTDCallCompliancePercent }}%</h3>
                </td>
              </ng-container>

              <ng-container *ngIf="work.WorkType === 'SO'">
                <td>
                  <h3>{{ work.TodayAttendanceSO }}</h3>
                </td>
                <td>
                  <h3>{{ work.TodayCallComplianceSO }}</h3>
                </td>
                <td>
                  <h3>{{ work.MTDAttendanceSO }}</h3>
                </td>
                <td>
                  <h3>{{ work.MTDCallComplianceSO }}</h3>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card p-4">
      <div class="col-md-12 row">
        <div class="col-12 text-right">
          <a (click)="ExportMe()" class="export-btn">
            <i class="far fa-file-excel"></i>
          </a>
        </div>

        <div class="table-responsive">
          <table
            class="table table-striped table-bordered table-hover"
            id="work-table"
          >
            <thead>
              <tr>
                <th colspan="5">
                  <div class="tbl-header-card">
                    <b>Today | {{ modalDate }}</b>
                  </div>
                </th>
                <th colspan="6">
                  <div class="tbl-header-card">
                    <b>MTD</b>
                  </div>
                </th>
              </tr>
              <tr>
                <th>User</th>
                <th>Role</th>
                <th>Attendance time (HH:MM)</th>
                <th>Planned Calls</th>
                <th>Actual Calls</th>
                <th>Total Planned Work Days</th>
                <th>Total Actual Work Days</th>
                <th>% Attendance</th>
                <th>Total Planned Calls</th>
                <th>Total Actual Calls</th>
                <th>% Call Compliance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of AttendenceReportData">
                <td>{{ item.MerName }}</td>
                <td>{{ item.MRole }}</td>
                <td>{{ item.AttendanceTime }}</td>
                <td>{{ item.PlannedCalls }}</td>
                <td>{{ item.ActualCalls }}</td>
                <td>{{ item.TotalPlannedWorkdays }}</td>
                <td>{{ item.TotalActualWorkdays }}</td>
                <td>{{ item.AttendencePercent }}</td>
                <td>{{ item.TotalPlannedCalls }}</td>
                <td>{{ item.TotalActualCalls }}</td>
                <td>{{ item.CallCompliancePercent }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
